/* ////////////////////////////////////////////////////////////////////////////////////
    Fonts
///////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: 'stylish_classy_fontregular';
    src: url('https://solangevalverde.github.io/css/fonts/stylish_classy_font-webfont.woff2') format('woff2'),
         url('https://solangevalverde.github.io/css/fonts/stylish_classy_font-webfont.woff') format('woff'),
         url('../fonts/Stylish_Classy_Font.ttf') format('truetype');
         font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'brandon_grotesquelight';
    src: url('https://solangevalverde.github.io/css/fonts/brandongrotesque-light-webfont.woff2') format('woff2'),
         url('https://solangevalverde.github.io/css/fonts/brandongrotesque-light-webfont.woff') format('woff'),
         url('../fonts/BrandonGrotesque-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('https://solangevalverde.github.io/css/fonts/brandongrotesque-regular-webfont.woff2') format('woff2'),
         url('https://solangevalverde.github.io/css/fonts/brandongrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
/* ////////////////////////////////////////////////////////////////////////////////////
    Text Elements
///////////////////////////////////////////////////////////////////////////////////////
*/
h1{

    font-family: 'stylish_classy_fontregular', sans-serif;
    font-style: normal;
    font-size: 3.8em;
  }
  h2 {
    margin:  2rem 0;
    font-family: 'brandon_grotesquelight', sans-serif;
    font-size: 2.3rem;
    letter-spacing: 0.2em; 
  }
  
  h3 {
    
    font-family: 'brandon_grotesquelight', sans-serif;
   
  
    font-style: normal;
   
    margin-top: 1.7rem;
    font-size: 1.8rem;
    margin-bottom: 1.7rem;
  }
  
  h4 {
    font-style: normal;
    margin-bottom: 0.25rem;
    font-family: 'brandon_grotesquelight', sans-serif;
    font-size: 1.5rem;
  }
  
  p {
    font-family: 'brandon_grotesquelight', sans-serif;
    font-weight: 300;
    font-size:1.1em;
    margin: 0.2rem 0rem;
    line-height: 2em;
  }
  
  figcaption {
    font-family: 'brandon_grotesquelight', sans-serif;
    font-weight: 300;
    font-size: smaller;
    margin-top: 0;
  }
  a{
    color: black;
    
  }
  
  .highlight-a{
    color: black;
    background-color:#318BAF;
    text-decoration: none;
  
  
  }
    .highlight-a:hover, .highlight-a:focus{
      color: black;
      background-color: #708EC7;
      text-decoration: none;
    
    }
  a:hover, a:focus{
    color: black;
    text-decoration: none;
  }
   .ulclass{
    list-style-type: circle;
    font-family: 'brandon_grotesquelight', sans-serif;
    padding:0;
  }
  li{
    margin:0.5em;
  }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
/* ////////////////////////////////////////////////////////////////////////////////////
    Nav Bar
///////////////////////////////////////////////////////////////////////////////////////
*/
header .container{
  background-color: #318BAF;
}
  #navLogo{
    max-width: 2em;
    height: 2em;
    margin:auto 2em;
  }

  .button-nav{
    display: block;
    color:white;
    font-family: 'brandon_grotesquelight', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
  
    margin: 0.4em 0.6em;
    margin-top: 0.3em;
    font-size: 1.5rem;
    padding: .35em .9em;
    border-bottom: 0.2em solid transparent;
    
  }
  .button-nav:hover, .button-nav:focus{
  
    border-bottom: 0.2em solid #454545;
    transition: border-bottom 0.5s;  
    }
/* ////////////////////////////////////////////////////////////////////////////////////
    Home
///////////////////////////////////////////////////////////////////////////////////////
*/
body{
    margin: 0%;
}
.bg{
    background-image: url("../img/plantFaded.png");
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-top:0;
   }
   
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    /*height: inherit;*/
    min-height: 86vh;
  }

.indexBody{
  margin: 9em 1em 0em 1em;

}
.indexBody h1{
  margin-bottom:1em;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
   /*  justify-content: center;*/
  }
  .meLanding{
   
    max-width: 60em;
    height: auto;
    width:100%;
  }
  .about{
    background-color:#454545;
  }
  .infoContainer {
    padding: 7em 3em;
    color:white;
    text-align: left;
   
  }
  .icons{
    text-align: center;
  }
  .icons h2{
    text-align: left;
  }
  .infoContainerAbout {
    margin: 5em 0em 0em 0em;
   
  }
  .vl {
    border-left: 0.4rem solid #318BAF;
    margin: 5em 0em;
    height: 50rem;
  }
  .hl {
    color: #318BAF;
    height:0.4rem;
    margin: 0em 5em;
    background-color: #318BAF;
    border: 0;
  }

  .servBg {
    /*background-color:rgb(235, 231, 227);*/
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    
    height: fit-content;
    min-height: 86vh;
  }
  .servBg .servicesContainer a{
      text-decoration: none;
     
  }
  #Projects h2{
  padding-top:3em;  
  padding-left:1em; 
  padding-bottom: 2em; 
  }
 .servicesContainer{
     text-align: center;
 }
 .servicesContainer .col-xs-4{
   padding: 0px;
 }
  .ServicesIMG{
    display: inline-block;
    width: 50vw;
    height: auto;
  }
  .ServContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;

  }
  .Projects .infoContainer{
    color: #000000;

  }
  .hoverProject:hover{
    box-shadow: inset  0 2px 25px #318BAF;
     /*    transform: scale(1.1);
    */
  /*  box-shadow: inset  0 2px 25px #318BAF;
    */
  }
  .IFRAME{
    text-align: center;
  }

 .mosaiac{
   background-color: #E6F1F5;
 }
 .mosaiacOdd{
  background-color: #454545;
}
  .contactBG{
    background-image: url("../img/High-Contrast-Reversed.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:0;
  }   
  .ContactOpacity{
    background-image: url("../img/opacity.png");
   width: 33vw;
   height: 86vh;
 }
 .infoContainer a img{
     width: 2.5em;
     height: auto;
 }
 
 .container-Bar {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
/*
.icons .container-Icon{
 /* Margin: 4rem;
  text-align: center;
  text-justify: auto;   
}
.box-item-image-icon{
  width: 4rem;
  height: auto;
  margin: 2rem 0rem;
}
.box-item-image-icon img{
  width: inherit;
}
*/
.box-item-image-icon{
  width: 3rem;
  height: auto;
}


.container-Form-icon{
  display: inline-table;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1em;
}

.icon .container-Item{
  PADDING: inherit;
  text-align: center;
}

.icon p {
  color: #ffffff;
}


.contactBG .col-xs-4{
  background-color: #454545;
  height: inherit;
}

.contactBG .col-xs-4 .infoContainer{
  padding: 5em 3em 4em 3em;
    color: white;
}
.gooButton.desktop{
  margin: 2em 0em 2em 0em;
  padding: 3em 0em;
}
.gooButton.desktop .b1--bubble__container{
  width: 15em;;
}
.ColorChange:hover{
  filter: invert(0.5) brightness(1000%) ;
    }

 /* ////////////////////////////////////////////////////////////////////////////////////
   About
///////////////////////////////////////////////////////////////////////////////////////
*/
.aboutBody{
  background-color: #454545;
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  margin-bottom: 7em;

}


 /* ////////////////////////////////////////////////////////////////////////////////////
    Work - Main Tabs
///////////////////////////////////////////////////////////////////////////////////////
*/
.tabsContainer{
    padding: 0;
    text-align: center;
}
.tabOn{
background-color: #EAC7CE;
Flex: 30%;

}
.tabOff{
background-color: #E8E4E4;
Flex: 30%;

}
.tabLink{
    text-decoration: none;
}
/* ////////////////////////////////////////////////////////////////////////////////////
    Work - Web Dev
///////////////////////////////////////////////////////////////////////////////////////
*/
.company{
padding-left: 0;
margin-top:1em;
color:#318BAF;
}
.Exp h4{
  color:#318BAF;
  margin-top: 0.1rem;
}


/* ////////////////////////////////////////////////////////////////////////////////////
    Work - Web Dev
///////////////////////////////////////////////////////////////////////////////////////
*/
.buttonWork{
    font-size: 1.2em;
    padding: 1rem 2rem;
    border: 0.2rem solid;
    border-color: #c4c4c4;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.2);
    color:#c4c4c4;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'brandon_grotesqueregular', sans-serif;
    margin: 1em auto;
  }
  .buttonWork:hover, .buttonWork:focus{
    /* #ce4e65 */
    background: #c4c4c4;
    color:white;
    cursor: pointer;
  
  }
.infoContainerWD{
    
   margin: 5em 2em 0em 2em;
    
}
.WD{
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 0 1em;
}
.WD .box-item-text{
    box-sizing: border-box;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 5px;
    text-align: center;
}
.WDtext{
    text-align: left;
}
/* ////////////////////////////////////////////////////////////////////////////////////
    Work - Graphic Designer
///////////////////////////////////////////////////////////////////////////////////////
*/
.Colab{
    box-sizing: content-box;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.GDicon{
    flex: auto;
}
.GDicon img{
width:4em;
height: auto;
}

.GDarea .Photographyitem{
max-width:460px;
}
/* ////////////////////////////////////////////////////////////////////////////////////
    Work - Photographer
///////////////////////////////////////////////////////////////////////////////////////
*/

.Photographyitem{
    box-sizing: border-box;
width: 100%;

padding: 5px;
    /*border: solid rgb(48, 187, 205) 10px;*/
}

.Photography {
    box-sizing: content-box;
width: 100%;
height: auto;
}

.Photographyitem img{
    width: inherit;
    height: auto;
}

.PhotographyitemLong{
    box-sizing: border-box;
    width: 100%;
    flex:60%;
}
.PhotographyitemShort{
    box-sizing: border-box;
    width: 100%;
}
.PhotographyitemShort img{
    width: inherit;
    height: auto;
}
.PhotographyitemLong img{
    width: inherit;
    height: auto;
}

.Figma{
 border: 1px solid rgba(0, 0, 0, 0.1);
 margin:1em;
 width:30em;
  height:50em;
}

/*
///////////////////////////////////////////////////////////////////////////////
Programming
//////////////////////////////////////////////////////////////////////////////
*/
.code img{
  padding: 1em;
  width: 35em;
}

/*
///////////////////////////////////////////////////////////////////////////////
bubbly div
//////////////////////////////////////////////////////////////////////////////
*/


.bubbly-div{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.mosaiac
 .bubbly-div{
  background-color: #fff ;
}
.bubbly-div:focus {
  outline: 0;
}

.bubbly-div:before,
.bubbly-div:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-div:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #318BAF 20%, transparent 30%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #318BAF 15%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%,
    15% 15%, 10% 10%, 18% 18%;
  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}

.bubbly-div:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #318BAF 15%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%),
    radial-gradient(circle, #318BAF 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%,
    20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}

.bubbly-div:hover {
  transform: scale(0.9);
  background-color: darken(#318BAF, 5%);
  box-shadow: 0 2px 25px #318BAF;
}

.bubbly-div.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  .bubbly-div.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }



@keyframes topBubbles {
0% {
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
    40% 90%, 55% 90%, 70% 90%;
}
50% {
  background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
    50% 50%, 65% 20%, 90% 30%;
}
100% {
  background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
    50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}

@keyframes bottomBubbles {
0% {
  background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
    70% -10%, 70% 0%;
}
50% {
  background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
    105% 0%;
}
100% {
  background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
    110% 10%;
  background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}



/*
.box{
    border: solid #5B6DCD 10px;
}*/
/* ////////////////////////////////////////////////////////////////////////////////////
    Medium
///////////////////////////////////////////////////////////////////////////////////////
*/
@media only screen and (max-width: 800px) and (min-width: 601px) {

  .infoContainer {
    margin: 5em 2em;
}
.meLanding {
  max-width: 23em;
  height: auto;
  width: fit-content;}

}

@media only screen and (max-width: 654px) and (min-width: 610px) {

  .infoContainer {
    margin: 4em 2em;
}
.meLanding {
  max-width: 20em;
  height: auto;
  width: fit-content;}

}







/* ////////////////////////////////////////////////////////////////////////////////////
    web dev
///////////////////////////////////////////////////////////////////////////////////////
*/
.Photographyitem img{

  margin: 1em 0em;
}


/* ////////////////////////////////////////////////////////////////////////////////////
 ////////////////////////////////////////////////////////////////////////////////////
Screen size Change
///////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
*/

  /* if desktop */

.mobile_device_480px{
    display: none;
}

 /* ////////////////////////////////////////////////////////////////////////////////////
    Mobile
///////////////////////////////////////////////////////////////////////////////////////
*/
  /* if mobile device max width 480px */
  @media only screen and (max-width: 480px) {
   
    .mobile_device_480px{display: block;}
    .desktop {display: none;}
    h1{
      line-height: 1.8em;
    }
    .indexBody {
      margin: 3em 1em 0em 1em;
  }
    .infoContainer {
      padding:1em 2em 1em 2em;
      margin: 2em 2em 1em 2em;
      text-align: center;
    }
    .mobile_device_480px.col-xs-6{
      padding: 0em;
    }
    .contactBG.home{
      min-height: 50vh;
    }   
    .contactBG .col-xs-12 {
      background-color: #454545;
    }
    .gooButton {
      margin-top: 2em; 
      padding: 5em 1em 5em 0em;
    }
    /*about*/
    .b1--bubble__container {
      width: 10em;
  }
  .infoContainer.about{
    margin: 1em 0em;
    overflow: scroll;
  }
  .aboutBody .Message.mobile_device_480px{
    color: #fff;
  }

  /*projects*/
  .mobile_device_480px.Projects{
    display: flex;
  }

  .Figma{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin:1em;
    width:24em;
    height:46em;
  }
  .Figma.Tims{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin:1em;
    width:24em;
    height:55em;
  }
  .code img{
    width: inherit;
  }
  .connected-carousels .stage {
    width: 26em;
    margin: 2em auto;
    position: relative;
  }
  .connected-carousels .navigation {
    width: 25em;
    margin:1em auto;
    position: relative;
  }
  .connected-carousels .carousel-navigation {
    height: 8em;
    width: 26em;
  }
  .connected-carousels .carousel li {
    float: left;
    text-align: left;
  }

   /*Slider*/
   .product-image-carousels {
    --main-image-width: 19em;
    --main-image-height: 18em;
    --thumbnail-track-width: 3em;
    --thumbnail-height: 1.5em;
  }
  .main-image-slider {
    margin: 1em;
}
.container.nav{
   justify-content: center;
}
.infoContainerAbout{
  margin: 0px;
}

 }

@media only screen and (max-width: 696px) and (min-width: 481px) {

  .desktop {display: none;}
  .mobile_device_480px{display: block;}
  h1{
    font-size: 4em;
    line-height: 1.9em;
  }
  .indexBody {
    margin: 5em 1em 0em 1em;
  }
  .infoContainer {
    margin: 2em 2em;
    padding:1em 2em 1em 2em;
    text-align: center;
  }

  .infoContainer .box-item-text {
    margin: 1em 0em;
    text-align: center;
  }
  .mobile_device_480px.col-xs-6{
    padding: 0em;
  }
  .contactBG.home{
    min-height: 50vh;
  }   
  .contactBG .col-xs-12 {
    background-color: #454545;
  }

  .gooButton {
    display: block;
    margin-top: 2em; 
    padding: 5em 1em 5em 0em;
  }
  .b1--bubble__container {
    width: 10em;
  }
  .infoContainer.about{
    margin: 1em 0em;
    overflow: scroll;
  }
  /*about*/
  .aboutBody .Message.mobile_device_480px{
  color: #fff;
  }

   /*projects*/
   .mobile_device_480px.Projects{
    display: flex;
  }
  .Figma{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin:1em;
    width:25em;
    height:57em;
  }
}
