.product-image-carousels {
  --main-image-width: 30em;
  --main-image-height: 28em;
  --thumbnail-track-width: 6em;
  --thumbnail-height: 3em;
}

.product-image-carousels  * {
  box-sizing: border-box;
}

.product-image-carousels {
  display: flex;
  justify-content: center;
}
/** Thumbnails carousel */
.thumbnails-slider {
  width: var(--thumbnail-track-width);
  padding: 3em 0;
  /*margin-right: 1em;*/
 /** Previous/next buttons */
 /** Single thumbnail */
}
.thumbnails-slider button {
  height: 1.5em;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: rgba(0, 0, 0, .7);
}
.thumbnails-slider button:not([disabled]):hover {
  background-color: rgba(0, 0, 0, .1);
  color: black;
}
/* .thumbnails-slider button:focus { background-color: royalblue;}
*/
.thumbnails-slider button:focus .slick-prev-icon, .thumbnails-slider button:focus .slick-next-icon {
  color: white !important;
}
.thumbnails-slider button.slick-prev {
  top: 1em;
  left: 0;
}
.thumbnails-slider button.slick-prev .slick-prev-icon {
  display: inline-block;
  transform: rotate(90deg);
  color: black;
}
.thumbnails-slider button.slick-next {
  bottom: -15px;
  right: 0;
  top: auto;
}
.thumbnails-slider button.slick-next .slick-next-icon {
  display: inline-block;
  transform: rotate(90deg);
  color: black;
}
.thumbnails-slider .thumbnail-button {
  display: block;
  height: var(--thumbnail-height) !important;
  cursor: pointer;
  border: 0;
  background: none;
  background-color: rgba(0, 0, 0, .4);
  transition: opacity 0.1s linear;
}
.thumbnails-slider .thumbnail-button:focus img, .thumbnails-slider .thumbnail-button:hover img, .thumbnails-slider .thumbnail-button[aria-current="true"] img {
  opacity: 1;
  filter: grayscale(0);
}
.thumbnails-slider .thumbnail-button:focus img {
  outline: 3px dashed white;
  outline-offset: -4px;
}
.thumbnails-slider .thumbnail-button img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
  filter: grayscale(0.6);
  transition: all 0.1s linear;
}
/** Main image carousel */
.main-image-slider {
  position: relative;
  width: var(--main-image-width);
  height: var(--main-image-height);
  position: relative;
  margin-bottom: 1em;
  margin: 3em;
 /** Previous/next buttons */
 /** Slides */
}
.main-image-slider button {
  z-index: 1;
}
.main-image-slider button.slick-prev {
  left: 0.5rem;
}
.main-image-slider button.slick-prev .slick-prev-icon {
  opacity: 1;
}
.main-image-slider button.slick-next {
  right: 1rem;
}
.main-image-slider button.slick-next .slick-next-icon {
  opacity: 1;
}
.main-image-slider .slick-slide {
  width: var(--main-image-width);
}
.main-image-slider .slick-slide .image-link {
  height: var(--main-image-height);
  overflow: hidden;
  transition: outline 0.1s linear;
}
.main-image-slider .slick-slide .image-link:focus {
  outline: 4px dashed white;
  outline-offset: -7px;
}
.main-image-slider .slick-slide .image-link img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
